**–°–µ—Ä–≥–µ–π, –ø—Ä–∏–≤–µ—Ç!**

–≠—Ç–æ –æ–ø—è—Ç—å —è, –ê–ª–µ–∫—Å–µ–π –ö–∞—Ä–≥–∏–Ω, —è –±—É–¥—É –ø—Ä–æ–≤–µ—Ä—è—Ç—å –ø—Ä–æ–µ–∫—Ç –ø–æ **SQL** –≤ —Ä–∞–º–∫–∞—Ö —Ñ–∏–Ω–∞–ª—å–Ω–æ–≥–æ —Å–ø—Ä–∏–Ω—Ç–∞. –ö–∞–∫ –≤—Å–µ–≥–¥–∞ –¥–ª—è —É–¥–æ–±—Å—Ç–≤–∞ —è –æ—Å—Ç–∞–≤–ª—é –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –≤ –æ—Ç–¥–µ–ª—å–Ω—ã—Ö —è—á–µ–π–∫–∞—Ö Markdown —Å –∑–∞–≥–æ–ª–æ–≤–∫–æ–º ¬´–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞¬ª. –ü–æ–∂–∞–ª—É–π—Å—Ç–∞, –Ω–µ –ø–µ—Ä–µ–º–µ—â–∞–π, –Ω–µ –∏–∑–º–µ–Ω—è–π –∏ –Ω–µ —É–¥–∞–ª—è–π –∏—Ö - —Ç–∞–∫ –Ω–∞—à–µ –æ–±—â–µ–Ω–∏–µ –±—É–¥–µ—Ç –±–æ–ª–µ–µ –ø—Ä–æ–¥—É–∫—Ç–∏–≤–Ω—ã–º. –Ø –±—É–¥—É –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å —Ü–≤–µ—Ç–æ–≤—É—é —Ä–∞–∑–º–µ—Ç–∫—É:

<div class="alert alert-danger">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞</b> 
    
‚úç –¢–∞–∫ –≤—ã–¥–µ–ª–µ–Ω—ã —Å–∞–º—ã–µ –≤–∞–∂–Ω—ã–µ –∑–∞–º–µ—á–∞–Ω–∏—è. –ë–µ–∑ –∏—Ö –æ—Ç—Ä–∞–±–æ—Ç–∫–∏ –ø—Ä–æ–µ–∫—Ç –Ω–µ –±—É–¥–µ—Ç –ø—Ä–∏–Ω—è—Ç.
</div>

<div class="alert alert-warning">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞</b> 
    
üìù –¢–∞–∫ –≤—ã–¥–µ–ª–µ–Ω—ã –Ω–µ–±–æ–ª—å—à–∏–µ –∑–∞–º–µ—á–∞–Ω–∏—è –∏–ª–∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏. –ü–æ—Å—Ç–∞—Ä–∞–π—Å—è —É—á–µ—Å—Ç—å —ç—Ç–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –≤ —ç—Ç–æ–º –ø—Ä–æ–µ–∫—Ç–µ.
</div>

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞</b> 
    
üëç –¢–∞–∫ –≤—ã–¥–µ–ª–µ–Ω—ã –≤—Å–µ –æ—Å—Ç–∞–ª—å–Ω—ã–µ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏, –≤–∫–ª—é—á–∞—è —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏, –ø–æ–∑–∏—Ç–∏–≤–Ω—ã–µ –º–æ–º–µ–Ω—Ç—ã –∏–ª–∏ –∫–∞–∫–∏–µ-—Ç–æ —Ä–∞—Å—Å—É–∂–¥–µ–Ω–∏—è.
</div>

–î–∞–≤–∞–π —Ä–∞–±–æ—Ç–∞—Ç—å –Ω–∞–¥ –ø—Ä–æ–µ–∫—Ç–æ–º –≤ –¥–∏–∞–ª–æ–≥–µ: –µ—Å–ª–∏ —Ç—ã —á—Ç–æ-—Ç–æ –º–µ–Ω—è–µ—à—å –≤ –ø—Ä–æ–µ–∫—Ç–µ –∏–ª–∏ –æ—Ç–≤–µ—á–∞–µ—à—å –Ω–∞ –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ ‚Äî –ø–∏—à–∏ –æ–± —ç—Ç–æ–º. –ú–Ω–µ –±—É–¥–µ—Ç –ª–µ–≥—á–µ –æ—Ç—Å–ª–µ–¥–∏—Ç—å –∏–∑–º–µ–Ω–µ–Ω–∏—è, –µ—Å–ª–∏ —Ç—ã –≤—ã–¥–µ–ª–∏—à—å —Å–≤–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏:

<div class="alert alert-info"> 
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞</b> 
    
–ù–∞–ø—Ä–∏–º–µ—Ä, –≤–æ—Ç —Ç–∞–∫.
</div>

---

<div class="alert alert-success">
<b>–û–±—Ä–∞—Ç–Ω–∞—è —Å–≤—è–∑—å v.1</b> 
    
üëã –°–µ—Ä–≥–µ–π, —Å–ø–∞—Å–∏–±–æ, —á—Ç–æ –ø—Ä–∏—Å–ª–∞–ª –ø—Ä–æ–µ–∫—Ç! –¢—ã —Ö–æ—Ä–æ—à–æ –ø—Ä–∏–¥–µ—Ä–∂–∏–≤–∞–µ—à—å—Å—è –æ—Ñ–æ—Ä–º–ª–µ–Ω–∏—è –ø—Ä–æ–µ–∫—Ç–∞, —Ç–≤–æ–∏ –∑–∞–ø—Ä–æ—Å—ã –ª–µ–≥–∫–æ —á–∏—Ç–∞—Ç—å, –∏ –æ–Ω–∏ —Ç–∞–∫–∂–µ —Ö–æ—Ä–æ—à–æ –æ—Ñ–æ—Ä–º–ª–µ–Ω—ã. –ú—ã –º–æ–∂–µ–º —Ç–∞–∫–∂–µ –¥–æ–±–∞–≤–ª—è—Ç—å –Ω–µ–±–æ–ª—å—à–∏–µ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –∫ –ø–æ–¥–∑–∞–ø—Ä–æ—Å–∞–º - —Ç–∞–∫ –ø—Ä–æ—â–µ –≤–æ–∑–≤—Ä–∞—â–∞—Ç—å—Å—è –∫ —Å–≤–æ–∏–º –∑–∞–ø—Ä–æ—Å–∞–º –∏ –ø—Ä–æ–µ–∫—Ç–∞–º —á–µ—Ä–µ–∑ –Ω–µ–∫–æ—Ç–æ—Ä–æ–µ –≤—Ä–µ–º—è.
    
<br>
<div class="text-danger">   
    
‚úç –û–¥–Ω–∞–∫–æ –ø—Ä–æ–µ–∫—Ç –ø–æ–∫–∞ –Ω–µ–ª—å–∑—è –ø—Ä–∏–Ω—è—Ç—å, —Ç–∞–∫ –∫–∞–∫ –æ–¥–∏–Ω –∏–∑ –ø—É–Ω–∫—Ç–æ–≤ –∑–∞–¥–∞–Ω–∏—è –±—ã–ª –ø—Ä–æ–ø—É—â–µ–Ω. –î–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ –ø–æ—Å–º–æ—Ç—Ä–∏, –ø–æ–∂–∞–ª—É—Å—Ç–∞, —á–µ—Ç–≤–µ—Ä—Ç—ã–π –∑–∞–ø—Ä–æ—Å - –µ–≥–æ –Ω—É–∂–Ω–æ –Ω–µ–º–Ω–æ–≥–æ —Å–∫–æ—Ä—Ä–µ–∫—Ç–∏—Ä–æ–≤–∞—Ç—å.
       
</div>    
    
–ú–Ω–µ –∫–∞–∂–µ—Ç—Å—è, —á—Ç–æ –Ω–µ—Å–º–æ—Ç—Ä—è –Ω–∞ –≤—Å–µ –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ —É —Ç–µ–±—è –Ω–µ —Å–æ—Å—Ç–∞–≤–∏—Ç —Ç—Ä—É–¥–∞ –≤–Ω–µ—Å—Ç–∏ –Ω–µ–æ–±—Ö–æ–¥–∏–º—ã–µ –∏–∑–º–µ–Ω–µ–Ω–∏—è. –ë—É–¥—É –∂–¥–∞—Ç—å –Ω–æ–≤–æ–π –≤–µ—Ä—Å–∏–∏ –ø—Ä–æ–µ–∫—Ç–∞!

<br>    
–° –Ω–∞–∏–ª—É—á—à–∏–º–∏ –ø–æ–∂–µ–ª–∞–Ω–∏—è–º–∏, <br>
–ê–ª–µ–∫—Å–µ–π
</div>

<div class="alert alert-info"> 
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞</b> 
    
–ü—Ä–∏–≤–µ—Ç, –ê–ª–µ–∫—Å–µ–π!
    
–°–∫–æ—Ä—Ä–µ–∫—Ç–∏—Ä–æ–≤–∞–ª —á–µ—Ç–≤–µ—Ä—Ç—ã–π –∑–∞–ø—Ä–æ—Å –∏ –¥–æ–±–∞–≤–∏–ª –ø—Ä–æ—Å–º–æ—Ç—Ä —Ç–∞–±–ª–∏—Ü –ø–µ—Ä–µ–¥ –æ–±—Ä–∞–±–æ—Ç–∫–æ–π –∑–∞–ø—Ä–æ—Å–æ–≤.=)
    
–°–ø–∞—Å–∏–±–æ –∑–∞ –æ–±—Ä–∞—Ç–Ω—É—é —Å–≤—è–∑—å!
</div>

---

<div class="alert alert-success">
<b>–û–±—Ä–∞—Ç–Ω–∞—è —Å–≤—è–∑—å v.2</b> 
    
üëã –°–µ—Ä–≥–µ–π, —Å–ø–∞—Å–∏–±–æ, —á—Ç–æ –æ–ø–µ—Ä–∞—Ç–∏–≤–Ω–æ –≤–Ω–µ—Å –ø—Ä–∞–≤–∫–∏ –≤ —á–µ—Ç–≤–µ—Ä—Ç—ã–π –∑–∞–ø—Ä–æ—Å –∏ –¥–æ–±–∞–≤–∏–ª –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ–µ –∑–∞–¥–∞–Ω–∏–µ. –¢–µ–ø–µ—Ä—å –≤—Å–µ –≤–µ—Ä–Ω–æ –∏ –ø—Ä–æ–µ–∫—Ç –º–æ–∂–µ—Ç –±—ã—Ç—å –ø—Ä–∏–Ω—è—Ç! –ü–æ–∑–¥—Ä–∞–≤–ª—è—é —Å –æ–∫–æ–Ω—á–∞–Ω–∏–µ–º —Ñ–∏–Ω–∞–ª—å–Ω–æ–≥–æ —Å–ø—Ä–∏–Ω—Ç–∞ –∏ –æ–±—É—á–µ–Ω–∏—è –Ω–∞ –∫—É—Ä—Å–µ –ü—Ä–∞–∫—Ç–∏–∫—É–º–∞ üéâ
    
–ö–∞–∫ —Ç–∏–º–ª–∏–¥ —Ñ–∏–Ω–∞–ª—å–Ω–æ–≥–æ —Å–ø—Ä–∏–Ω—Ç–∞ —è –µ—â–µ –Ω–∞–ø–∏—à—É —Å –°–ª–∞–∫–µ —Ñ–∏–Ω–∞–ª—å–Ω—É—é –æ–±—Ä–∞—Ç–Ω—É—é —Å–≤—è–∑—å, –Ω–æ —ç—Ç–æ –±—É–¥–µ—Ç –≥–¥–µ-—Ç–æ –±–ª–∏–∂–µ –∫ —Ñ–∏–Ω–∞–ª—å–Ω–æ–º—É —Å–æ–∑–≤–æ–Ω—É. –ë—ã–ª–æ –∏–Ω—Ç–µ—Ä–µ—Å–Ω–æ –ø—Ä–æ–≤–µ—Ä—è—Ç—å —Ç–≤–æ–∏ –ø—Ä–æ–µ–∫—Ç—ã, —Å–ø–∞—Å–∏–±–æ!
    

<br>    
–° –Ω–∞–∏–ª—É—á—à–∏–º–∏ –ø–æ–∂–µ–ª–∞–Ω–∏—è–º–∏, <br>
–ê–ª–µ–∫—Å–µ–π
</div>

# –ü—Ä–æ–µ–∫—Ç –ø–æ SQL

–ö–æ—Ä–æ–Ω–∞–≤–∏—Ä—É—Å –∑–∞—Å—Ç–∞–ª –º–∏—Ä –≤—Ä–∞—Å–ø–ª–æ—Ö, –∏–∑–º–µ–Ω–∏–≤ –ø—Ä–∏–≤—ã—á–Ω—ã–π –ø–æ—Ä—è–¥–æ–∫ –≤–µ—â–µ–π. –í —Å–≤–æ–±–æ–¥–Ω–æ–µ –≤—Ä–µ–º—è –∂–∏—Ç–µ–ª–∏ –≥–æ—Ä–æ–¥–æ–≤ –±–æ–ª—å—à–µ –Ω–µ –≤—ã—Ö–æ–¥—è—Ç –Ω–∞ —É–ª–∏—Ü—É, –Ω–µ –ø–æ—Å–µ—â–∞—é—Ç –∫–∞—Ñ–µ –∏ —Ç–æ—Ä–≥–æ–≤—ã–µ —Ü–µ–Ω—Ç—Ä—ã. –ó–∞—Ç–æ —Å—Ç–∞–ª–æ –±–æ–ª—å—à–µ –≤—Ä–µ–º–µ–Ω–∏ –¥–ª—è –∫–Ω–∏–≥. –≠—Ç–æ –∑–∞–º–µ—Ç–∏–ª–∏ —Å—Ç–∞—Ä—Ç–∞–ø–µ—Ä—ã ‚Äî –∏ –±—Ä–æ—Å–∏–ª–∏—Å—å —Å–æ–∑–¥–∞–≤–∞—Ç—å –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è –¥–ª—è —Ç–µ—Ö, –∫—Ç–æ –ª—é–±–∏—Ç —á–∏—Ç–∞—Ç—å.

–ù–∞—à–∞ –∫–æ–º–ø–∞–Ω–∏—è —Ä–µ—à–∏–ª–∞ –±—ã—Ç—å –Ω–∞ –≤–æ–ª–Ω–µ –∏ –∫—É–ø–∏–ª–∞ –∫—Ä—É–ø–Ω—ã–π —Å–µ—Ä–≤–∏—Å –¥–ª—è —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥ –ø–æ –ø–æ–¥–ø–∏—Å–∫–µ. –ú–æ—è –ø–µ—Ä–≤–∞—è –∑–∞–¥–∞—á–∞ –∫–∞–∫ –∞–Ω–∞–ª–∏—Ç–∏–∫–∞ ‚Äî –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –±–∞–∑—É –¥–∞–Ω–Ω—ã—Ö. –í –Ω–µ–π ‚Äî –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –∫–Ω–∏–≥–∞—Ö, –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö, –∞–≤—Ç–æ—Ä–∞—Ö, –∞ —Ç–∞–∫–∂–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–µ –æ–±–∑–æ—Ä—ã –∫–Ω–∏–≥. –≠—Ç–∏ –¥–∞–Ω–Ω—ã–µ –ø–æ–º–æ–≥—É—Ç —Å—Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∞—Ç—å —Ü–µ–Ω–Ω–æ—Å—Ç–Ω–æ–µ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ –¥–ª—è –Ω–æ–≤–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞.

**–û–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö**

–¢–∞–±–ª–∏—Ü–∞ `books`

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –∫–Ω–∏–≥–∞—Ö:

* `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
* `author_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
* `title` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–Ω–∏–≥–∏;
* `num_pages` ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–∞–Ω–∏—Ü;
* `publication_date` ‚Äî –¥–∞—Ç–∞ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –∫–Ω–∏–≥–∏;
* `publisher_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—è.

–¢–∞–±–ª–∏—Ü–∞ `authors`

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∞–≤—Ç–æ—Ä–∞—Ö:

* `author_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
* `author` ‚Äî –∏–º—è –∞–≤—Ç–æ—Ä–∞.

–¢–∞–±–ª–∏—Ü–∞ `publishers`

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö:

* `publisher_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;
* `publisher` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;

–¢–∞–±–ª–∏—Ü–∞ `ratings`

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ—Ü–µ–Ω–∫–∞—Ö –∫–Ω–∏–≥:

* `rating_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ—Ü–µ–Ω–∫–∏;
* `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
* `username` ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –æ—Å—Ç–∞–≤–∏–≤—à–µ–≥–æ –æ—Ü–µ–Ω–∫—É;
* `rating` ‚Äî –æ—Ü–µ–Ω–∫–∞ –∫–Ω–∏–≥–∏.

–¢–∞–±–ª–∏—Ü–∞ `reviews`

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ–±–∑–æ—Ä–∞—Ö:

* `review_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ–±–∑–æ—Ä–∞;
* `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
* `username` ‚Äî –∏–º—è –∞–≤—Ç–æ—Ä–∞ –æ–±–∑–æ—Ä–∞;
* `text` ‚Äî —Ç–µ–∫—Å—Ç –æ–±–∑–æ—Ä–∞.

**–ü–ª–∞–Ω —Ä–∞–±–æ—Ç—ã**

1. –ó–∞–≥—Ä—É–∑–∫–∞ –¥–∞–Ω–Ω—ã—Ö
2. –ò—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ —Ç–∞–±–ª–∏—Ü
 * –ü–æ–¥—Å—á–µ—Ç, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞;
 * –î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ–¥—Å—á–µ—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–∏;
 * –û–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü (–±–µ–∑ –±—Ä–æ—à—é—Ä);
 * –û–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏;
 * –ü–æ–¥—Å—á–µ—Ç —Å—Ä–µ–¥–Ω–µ–≥–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫.
3. –í—ã–≤–æ–¥—ã

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.1</b> 
    
üëç –•–æ—Ä–æ—à–æ, —á—Ç–æ –≤ –Ω–∞—á–∞–ª–µ –ø—Ä–æ–µ–∫—Ç–∞ –µ—Å—Ç—å –∫—Ä–∞—Ç–∫–æ–µ –æ–ø–∏—Å–∞–Ω–∏–µ, –∞ —Ç–∞–∫–∂–µ –¥–∞–Ω–Ω—ã–µ –æ –∏—Å—Ö–æ–¥–Ω—ã—Ö —Ç–∞–±–ª–∏—Ü–∞—Ö. –¢–∞–∫–∂–µ –º—ã –º–æ–∂–µ–º –¥–æ–±–∞–≤–∏—Ç—å —Å—Ö–µ–º—É –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö, —á—Ç–æ–±—ã –ø–æ–Ω–∏–º–∞—Ç—å, –∫–∞–∫ —Ç–∞–±–ª–∏—Ü—ã —Å–≤—è–∑–∞–Ω—ã –º–µ–∂–¥—É —Å–æ–±–æ–π.
</div>

## –ó–∞–≥—Ä—É–∑–∫–∞ –¥–∞–Ω–Ω—ã—Ö

–ò–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ –∏ –ø–æ–¥–≥–æ—Ç–æ–≤–∏–º —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ —Å –±–∞–∑–æ–π –¥–ª—è –∑–∞–ø—Ä–æ—Å–æ–≤.

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
db_config = {'user': 'praktikum_student',
             'pwd': 'Sdf4$2;d-d30pp',  
             'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net', 
             'port': 6432, 
             'db': 'data-analyst-final-project-db'} 

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                         db_config['pwd'],
                                                         db_config['host'],
                                                         db_config['port'],
                                                         db_config['db'])

engine = create_engine(connection_string, connect_args={'sslmode':'require'})

–ü–µ—Ä–µ–π–¥–µ–º –∫ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—é —Ç–∞–±–ª–∏—Ü –∏ –∫ –æ—Ç–≤–µ—Ç–∞–º –Ω–∞ –ø–æ—Å—Ç–∞–≤–ª–µ–Ω–Ω—ã–µ –≤–æ–ø—Ä–æ—Å—ã.

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.1</b>
    
üëç –í—Å–µ –≥–æ—Ç–æ–≤–æ –¥–ª—è –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è –∫ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö! 

</div>

## –ò—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ —Ç–∞–±–ª–∏—Ü

<div class="alert alert-danger">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.1</b> 
    
‚úç –°–µ—Ä–≥–µ–π, —Å–æ–≥–ª–∞—Å–Ω–æ –∑–∞–¥–∞–Ω–∏—é –∫ –ø—Ä–æ–µ–∫—Ç—É, –Ω–∞–º –Ω—É–∂–Ω–æ –≤—ã–ø–æ–ª–Ω–∏—Ç—å —Å–ª–µ–¥—É—é—â–∏–π –ø—É–Ω–∫—Ç "–ò—Å—Å–ª–µ–¥—É–π—Ç–µ —Ç–∞–±–ª–∏—Ü—ã ‚Äî –≤—ã–≤–µ–¥–∏—Ç–µ –ø–µ—Ä–≤—ã–µ —Å—Ç—Ä–æ–∫–∏". –ü–æ–∂–∞–ª—É–π—Å—Ç–∞, –ø—Ä–æ–≤–µ–¥–∏ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã–µ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è –≤ —ç—Ç–æ–π —á–∞—Å—Ç–∏ –ø—Ä–æ–µ–∫—Ç–∞. –ù–∞–º –≤–∞–∂–Ω–æ —É–±–µ–¥–∏—Ç—å—Å—è, —á—Ç–æ –ø–æ–¥–∫–ª—é—á–µ–Ω–∏–µ —Ä–∞–±–æ—Ç–∞–µ—Ç –∏ –≤—Å–µ –¥–∞–Ω–Ω—ã–µ –Ω–∞ –º–µ—Å—Ç–µ –∏ –æ–Ω–∏ –Ω–∞–¥–ª–µ–∂–∞—â–µ–≥–æ –∫–∞—á–µ—Å—Ç–≤–∞.
</div>

<div class="alert alert-info"> 
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞</b> 
    
–í—ã–≤–µ–ª –ø–µ—Ä–≤—ã–µ —Å—Ç—Ä–æ–∫–∏ –∏ –ø—Ä–æ–≤–µ—Ä–∏–ª —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö.
</div>

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.2</b>
    
üëç –û—Ç–ª–∏—á–Ω–æ! –ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ –±–∞–∑–µ  –¥–∞–Ω–Ω—ã—Ö —Ä–∞–±–æ—Ç–∞–µ—Ç, —Ç–∞–±–ª–∏—Ü—ã –Ω–∞ –º–µ—Å—Ç–µ. –ù–∞ —ç–∫—Ä–∞–Ω –±—ã–ª–∏ –≤—ã–≤–µ–¥–µ–Ω—ã –ø–µ—Ä–≤—ã–µ —Å—Ç—Ä–æ–∫–∏ –∏–∑ –∫–∞–∂–¥–æ–π —Ç–∞–±–ª–∏—Ü—ã, —á—Ç–æ –ø–æ–∑–≤–æ–ª–∏–ª–æ –æ—Ü–µ–Ω–∏—Ç—å –∏—Ö —Å–æ–¥–µ—Ä–∂–∞–Ω–∏–µ, –∞ —Ç–∞–∫–∂–µ –æ—Å–Ω–æ–≤–Ω–∞—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è. –û–¥–Ω–∞–∫–æ, –æ–±—Ä–∞—Ç–∏, –ø–æ–∂–∞–ª—É–π—Å—Ç–∞, –≤–Ω–∏–º–∞–Ω–∏–µ, —á—Ç–æ –≤ –∑–∞–ø—Ä–æ—Å–µ –º—ã –∑–∞–≥—Ä—É–∂–∞–µ–º –≤—Å–µ –¥–∞–Ω–Ω—ã–µ, –ø–æ—ç—Ç–æ–º—É –ø–µ—Ä–µ–¥ –∏—Ö –≤—ã–≥—Ä—É–∑–∫–æ–π –ª—É—á—à–µ –æ—Ü–µ–Ω–∏—Ç—å –∏—Ö –æ–±—ä–µ–º. –ü–æ—á–µ–º—É —ç—Ç–æ –≤–∞–∂–Ω–æ - –µ—Å–ª–∏ –¥–∞–Ω–Ω—ã—Ö –º–Ω–æ–≥–æ, –∞ –∏—Ö –º–æ–∂–µ—Ç –±—ã—Ç—å –º–Ω–æ–≥–æ –∏ –æ–Ω–∏ –º–æ–≥—É—Ç –±—ã—Ç—å –æ–±—ä–µ–º–Ω—ã–º–∏, –º—ã –º–æ–∂–µ–º —Å–æ–∑–¥–∞—Ç—å –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—É—é –Ω–∞–≥—Ä—É–∑–∫—É –Ω–∞ –æ–∫—Ä—É–∂–µ–Ω–∏–µ, —á—Ç–æ –º–æ–∂–µ—Ç –±—ã—Ç—å –Ω–µ –æ—á–µ–Ω—å —Ö–æ—Ä–æ—à–æ.
</div>

–ü—Ä–æ–≤–µ—Ä–∏–º —É—Å—Ç–∞–Ω–æ–≤–ª–µ–Ω–Ω–æ–µ —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ –∏ –ø–æ—Å–º—Ç—Ä–∏–º –ø–µ—Ä–≤—ã–µ —Å—Ç—Ä–æ–∫–∏ —Ç–∞–±–ª–∏—Ü, —á—Ç–æ–±—ã —É–±–µ–¥–∏—Ç—å—Å—è, —á—Ç–æ –≤—Å–µ –¥–∞–Ω–Ω—ã–µ –Ω–∞ –º–µ—Å—Ç–µ. –¢–∞–∫–∂–µ –ø–æ—Å–º–æ—Ç—Ä–∏–º —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Ç–æ–ª–±—Ü–∞–º –Ω–∞ —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤–∏–µ —É–∫–∞–∑–∞–Ω–Ω—ã–º —Ç–∏–ø–∞–º –≤ —Å—Ö–µ–º–µ –¥–∞–Ω–Ω—ã—Ö.

In [3]:
query = '''SELECT *
           FROM books
        '''

In [4]:
books = pd.io.sql.read_sql(query, con = engine)
books.head()

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268

In [5]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   book_id           1000 non-null   int64
 1   author_id         1000 non-null   int64
 2   title             1000 non-null   object
 3   num_pages         1000 non-null   int64
 4   publication_date  1000 non-null   object
 5   publisher_id      1000 non-null   int64
dtypes: int64(4), object(2)
memory usage: 47.0+ KB

–í —Ç–∞–±–ª–∏—Ü–µ —Å –∫–Ω–∏–≥–∞–º–∏ –≤–∏–¥–∏–º, —á—Ç–æ –≤—Å–µ –¥–∞–Ω–Ω—ã–µ –ø—Ä–∏—Å—É—Ç—Å—Ç–≤—É—é—Ç, —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É—é—Ç –∑–∞—è–≤–ª–µ–Ω–Ω—ã–º.

In [6]:
query = '''SELECT *
           FROM authors
        '''

In [7]:
authors = pd.io.sql.read_sql(query, con = engine)
authors.head()

   author_id                          author
0          1                      A.S. Byatt
1          2  Aesop/Laura Harris/Laura Gibbs
2          3                 Agatha Christie
3          4                   Alan Brennert
4          5        Alan Moore/David   Lloyd

In [8]:
authors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   author_id  636 non-null    int64
 1   author     636 non-null    object
dtypes: int64(1), object(1)
memory usage: 10.1+ KB

–í —Ç–∞–±–ª–∏—Ü–µ —Å –∞–≤—Ç–æ—Ä–∞–º–∏ —Ç–∞–∫–∂–µ –≤–∏–¥–∏–º, —á—Ç–æ –≤—Å–µ –¥–∞–Ω–Ω—ã–µ –ø—Ä–∏—Å—É—Ç—Å—Ç–≤—É—é—Ç, —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É—é—Ç –∑–∞—è–≤–ª–µ–Ω–Ω—ã–º.

In [9]:
query = '''SELECT *
           FROM publishers
        '''

In [10]:
publishers = pd.io.sql.read_sql(query, con = engine)
publishers.head()

   publisher_id                          publisher
0             1                                Ace
1             2                           Ace Book
2             3                          Ace Books
3             4                      Ace Hardcover
4             5  Addison Wesley Publishing Company

In [11]:
publishers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 340 entries, 0 to 339
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher_id  340 non-null    int64
 1   publisher     340 non-null    object
dtypes: int64(1), object(1)
memory usage: 5.4+ KB

–í —Ç–∞–±–ª–∏—Ü–µ —Å –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞–º–∏ –∞–Ω–∞–ª–æ–≥–∏—á–Ω–æ: –≤—Å–µ –¥–∞–Ω–Ω—ã–µ –ø—Ä–∏—Å—É—Ç—Å—Ç–≤—É—é—Ç, —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É—é—Ç –∑–∞—è–≤–ª–µ–Ω–Ω—ã–º.

In [12]:
query = '''SELECT *
           FROM ratings
        '''

In [13]:
ratings = pd.io.sql.read_sql(query, con = engine)
ratings.head()

   rating_id  book_id       username  rating
0          1        1     ryanfranco       4
1          2        1  grantpatricia       2
2          3        1   brandtandrea       5
3          4        2       lorichen       3
4          5        2    mariokeller       2

In [14]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6456 entries, 0 to 6455
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   rating_id  6456 non-null   int64
 1   book_id    6456 non-null   int64
 2   username   6456 non-null   object
 3   rating     6456 non-null   int64
dtypes: int64(3), object(1)
memory usage: 201.9+ KB

–í —Ç–∞–±–ª–∏—Ü–µ —Å –æ—Ü–µ–Ω–∫–∞–º–∏ –≤–∏–¥–∏–º, —á—Ç–æ –≤—Å–µ –¥–∞–Ω–Ω—ã–µ –ø—Ä–∏—Å—É—Ç—Å—Ç–≤—É—é—Ç, —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É—é—Ç –∑–∞—è–≤–ª–µ–Ω–Ω—ã–º.

In [15]:
query = '''SELECT *
           FROM reviews
        '''

In [16]:
reviews = pd.io.sql.read_sql(query, con = engine)
reviews.head()

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. ...
1,2,1,ryanfranco,Foot glass pretty audience hit themselves. Amo...
2,3,2,lorichen,Listen treat keep worry. Miss husband tax but ...
3,4,3,johnsonamanda,Finally month interesting blue could nature cu...
4,5,3,scotttamara,Nation purpose heavy give wait song will. List...

In [17]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2793 entries, 0 to 2792
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review_id  2793 non-null   int64
 1   book_id    2793 non-null   int64
 2   username   2793 non-null   object
 3   text       2793 non-null   object
dtypes: int64(2), object(2)
memory usage: 87.4+ KB

–í —Ç–∞–±–ª–∏—Ü–µ —Å –æ—Ç–∑—ã–≤–∞–º–∏ —Ç–∞–∫–∂–µ –≤—Å–µ –¥–∞–Ω–Ω—ã–µ –ø—Ä–∏—Å—É—Ç—Å—Ç–≤—É—é—Ç, —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É—é—Ç –∑–∞—è–≤–ª–µ–Ω–Ω—ã–º.
–î–∞–Ω–Ω—ã–µ –∫–æ—Ä—Ä–µ–∫—Ç–Ω—ã –≤–æ –≤—Å–µ—Ö —Ç–∞–±–ª–∏—Ü–∞—Ö, –ø–µ—Ä–µ–π–¥–µ–º –∫ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—é –∑–∞–ø—Ä–æ—Å–æ–≤.

### –ü–æ–¥—Å—á–µ—Ç, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞

–ü—Ä–æ–∏–∑–≤–µ–¥–µ–º –∑–∞–ø—Ä–æ—Å SQL –∏ –≤—ã–≤–µ–¥–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥.

In [18]:
query = '''SELECT COUNT(book_id) AS cnt_books
           FROM books
           WHERE publication_date > '2000-01-01'
        '''

In [19]:
cnt_books = pd.io.sql.read_sql(query, con = engine) 
cnt_books

   cnt_books
0        819

–ü–æ—Å–ª–µ –ø–µ—Ä–≤–æ–≥–æ —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞ –≤—ã–ø—É—â–µ–Ω–æ 819 –∫–Ω–∏–≥.

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.1</b> 
    
üëç <b>–ó–∞–ø—Ä–æ—Å 1:</b> –¢—É—Ç –≤—Å–µ –≤–µ—Ä–Ω–æ! 
</div>

### –î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ–¥—Å—á–µ—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–∏;

–°–¥–µ–ª–∞–µ–º SQL –∑–∞–ø—Ä–æ—Å –∏ –≤—ã–≤–µ–¥–µ–º —Ç–∞–±–ª–∏—Ü—É —Å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –ø–æ –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–µ.

In [20]:
query = '''SELECT
             books.book_id AS book_id,             
             books.title AS title,
             rev_cnt.cnt_reviews AS cnt_reviews,
             avg_rat.avg_rating AS avg_rating             
           FROM
             books
             LEFT JOIN (SELECT
                           book_id,
                           COUNT(review_id) AS cnt_reviews             
                         FROM
                           reviews
                         GROUP BY
                           book_id) AS rev_cnt ON rev_cnt.book_id = books.book_id
             LEFT JOIN (SELECT
                           book_id,
                           AVG(rating) AS avg_rating             
                         FROM
                           ratings
                         GROUP BY
                           book_id) AS avg_rat ON avg_rat.book_id = books.book_id
           
        '''

In [21]:
books_reviews_rating = pd.io.sql.read_sql(query, con = engine)
books_reviews_rating

,book_id,title,cnt_reviews,avg_rating
0,652,The Body in the Library (Miss Marple #3),2.0,4.500000
1,273,Gal√°pagos,2.0,4.500000
2,51,A Tree Grows in Brooklyn,5.0,4.250000
3,951,Undaunted Courage: The Pioneering First Missio...,2.0,4.000000
4,839,The Prophet,4.0,4.285714
...,...,...,...,...
995,64,Alice in Wonderland,4.0,4.230769
996,55,A Woman of Substance (Emma Harte Saga #1),2.0,5.000000
997,148,Christine,3.0,3.428571
998,790,The Magicians' Guild (Black Magician Trilogy #1),2.0,3.500000
999,828,The Plot Against America,2.0,3.000000

–í–∏–¥–∏–º, —á—Ç–æ —É –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –µ—Å—Ç—å –ø–æ –Ω–µ—Å–∫–æ–ª—å–∫–æ –æ—Ç–∑—ã–≤–æ–≤, —Å—Ä–µ–¥–Ω—è—è –æ—Ü–µ–Ω–∫–∞ —Ä–∞–∑–Ω–∏—Ç—Å—è.

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.1</b> 
    
üëç <b>–ó–∞–ø—Ä–æ—Å 2:</b> –í—Å–µ –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ, –∑–¥–æ—Ä–æ–≤–æ, —á—Ç–æ –≤ –Ω–∞—á–∞–ª–µ —Ç—ã –ø–æ—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å–Ω–æ –ø–æ–¥—Å–æ–µ–¥–∏–Ω–∏–ª –ø–æ–¥—Å—á–∏—Ç–∞–Ω–Ω—ã–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥. –ò—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ –ª–µ–≤–æ–≥–æ –æ–±—ä–µ–¥–∏–Ω–µ–Ω–∏–µ –ø–æ–∑–≤–æ–ª–∏–ª–æ –Ω–µ —É–ø—É—Å—Ç–∏—Ç—å –Ω–∏ –æ–¥–Ω—É –∫–Ω–∏–≥—É. –í—Å–µ –≤–µ—Ä–Ω–æ!
</div>

### –û–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü (–±–µ–∑ –±—Ä–æ—à—é—Ä)

–°–¥–µ–ª–∞–µ–º SQL –∑–∞–ø—Ä–æ—Å –∏ –Ω–∞–π–¥–µ–º –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥ —Ç–æ–ª—å—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü.

In [22]:
query = '''SELECT
             publishers.publisher AS publisher,
             COUNT(books.book_id) AS cnt_books
           FROM
             publishers
             LEFT JOIN books ON books.publisher_id = publishers.publisher_id
           WHERE
             books.num_pages > 50
           GROUP BY
             publisher
           ORDER BY
             cnt_books DESC
           LIMIT
             1
        '''

In [23]:
top_publisher = pd.io.sql.read_sql(query, con = engine)
top_publisher

       publisher  cnt_books
0  Penguin Books         42

–ò–∑–¥–∞—Ç–µ–ª—å Penguin Books –≤—ã–ø—É—Å—Ç–∏–ª –Ω–∞–∏–±–æ–ª—å—à–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥ - 42 —à—Ç—É–∫–∏.

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.1</b> 
    
üëç <b>–ó–∞–ø—Ä–æ—Å 3:</b> –¢—É—Ç —Ç–æ–∂–µ –≤—Å–µ –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ.
</div>

### –û–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏

–°–¥–µ–ª–∞–µ–º SQL –∑–∞–ø—Ä–æ—Å –∏ –∏ –æ–ø—Ä–µ–¥–µ–ª–∏–º —Ç–æ–ø –∞–≤—Ç–æ—Ä–∞.

In [32]:
query = '''SELECT
             authors.author AS author,
             AVG(ratings_50.avg_rating) AS avg_rating,
             COUNT(books.book_id) AS cnt_books
           FROM
             books
             INNER JOIN (SELECT
                          book_id AS book_id,
                          AVG(rating) AS avg_rating                          
                        FROM
                          ratings
                        GROUP BY
                          book_id                          
                        HAVING
                          COUNT(rating_id) > 50) AS ratings_50 ON ratings_50.book_id = books.book_id
             LEFT JOIN authors ON authors.author_id = books.author_id
           GROUP BY
             author
           ORDER BY
             avg_rating DESC
           LIMIT 1
        '''

In [33]:
top_author = pd.io.sql.read_sql(query, con = engine)
top_author

                       author  avg_rating  cnt_books
0  J.K. Rowling/Mary GrandPr√©    4.283844          4

–ê–≤—Ç–æ—Ä —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏ —è–≤–ª—è–µ—Ç—Å—è J.K. Rowling/Mary GrandPr√©. –°—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥ —Å–æ—Å—Ç–∞–≤–ª–µ–Ω –Ω–∞ –æ—Å–Ω–æ–≤–µ –æ—Ü–µ–Ω–∫–∏ 4-—Ö –∫–Ω–∏–≥.

<div class="alert alert-danger">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.1</b> 
    
üìù <b>–ó–∞–ø—Ä–æ—Å 4:</b> –ê –≤–æ—Ç —ç—Ç–æ—Ç –∑–∞–ø—Ä–æ—Å –Ω—É–∂–Ω–æ –Ω–µ–º–Ω–æ–≥–æ —Å–∫–æ—Ä—Ä–µ–∫—Ç–∏—Ä–æ–≤–∞—Ç—å. –°–º–æ—Ç—Ä–∏, –ø–æ –∑–∞–¥–∞–Ω–∏—é, –Ω–∞–º –≤ –Ω–∞—á–∞–ª–µ –Ω—É–∂–Ω–æ –≤—ã–±—Ä–∞—Ç—å –∫–Ω–∏–≥–∏, —É –∫–æ—Ç–æ—Ä—ã—Ö 50 –∏–ª–∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–æ–∫ –∏ —É–∂–µ –∏—Å–ø–æ–ª—å–∑—É—è —Ç–æ–ª—å–∫–æ —ç—Ç–∏ –∫–Ω–∏–≥–∏ –ø–æ–¥—Å—á–∏—Ç–∞—Ç—å —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥ –¥–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –∏ –∞–≥—Ä–µ–≥–∏—Ä–æ–≤–∞—Ç—å –¥–∞–Ω–Ω—ã–µ –ø–æ –∞–≤—Ç–æ—Ä—É. –°–µ–π—á–∞—Å –º—ã –≤—ã–±—Ä–∞–ª–∏ –∞–≤—Ç–æ—Ä–æ–≤, —É –∫–æ—Ç–æ—Ä—ã—Ö –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ—Ü–µ–Ω–æ–∫ –¥–ª—è –≤—Å–µ—Ö –∫–Ω–∏–≥ 50 –∏–ª–∏ –±–æ–ª–µ–µ. –ü–æ–∂–∞–ª—É–π—Å—Ç–∞, —Å–∫–æ—Ä—Ä–µ–∫—Ç–∏—Ä—É–π —ç—Ç–æ—Ç –∑–∞–ø—Ä–æ—Å. –¢–∞–∫–∂–µ –±—É–¥–µ—Ç –ø–æ–ª–µ–∑–Ω–æ –≤—ã–≤–µ—Å—Ç–∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥, –∫–æ—Ç–æ—Ä—ã–µ –≤–æ—à–ª–∏ –≤ –ø–æ–¥—Å—á–µ—Ç (–æ–ø—Ü–∏–æ–Ω–∞–ª—å–Ω–æ).
</div>

<div class="alert alert-info"> 
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞</b> 
    
–ü–æ–Ω—è–ª, –ø–æ–ø—Ä–∞–≤–∏–ª, –≤–∏–¥–∏–º–æ —è –Ω–µ —Ç–∞–∫ –≤–æ—Å–ø—Ä–∏–Ω—è–ª –∑–∞–¥–∞–Ω–∏–µ –≤ —ç—Ç–æ–º –ø—É–Ω–∫—Ç–µ, –º–Ω–µ –ø–æ—á–µ–º—É-—Ç–æ –ø–æ–∫–∞–∑–∞–ª–æ—Å—å, —á—Ç–æ –∞–≤—Ç–æ—Ä–∞ —É –∫–æ—Ç–æ—Ä–æ–≥–æ –≤—Å–µ –∫–Ω–∏–≥–∏ –∑–∞—Ä–∞–±–æ—Ç–∞–ª–∏ –±–æ–ª–µ–µ 50 –æ—Ü–µ–Ω–æ–∫. –ü–µ—Ä–µ–¥–µ–ª–∞–ª, –¥–æ–±–∞–≤–∏–ª –ø–æ–¥—Å—á–µ—Ç –∫–Ω–∏–≥.=) –ù–∞–¥–µ—é—Å—å, —á—Ç–æ –≤—Å–µ –≤–µ—Ä–Ω–æ.
</div>

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.2</b> 
    
üëç <b>–ó–∞–ø—Ä–æ—Å 4:</b> –°–ø–∞—Å–∏–±–æ, —á—Ç–æ –æ–±—ä—è—Å–Ω–∏–ª –ø–æ—á–µ–º—É —Å–¥–µ–ª–∞–ª –∑–∞–ø—Ä–æ—Å —Ç–∞–∫–∏–º –æ–±—Ä–∞–∑–æ–º. –¢–µ–ø–µ—Ä—å –≤—Å–µ –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ! –°–ø–∞—Å–∏–±–æ, —á—Ç–æ –ø—Ä–æ—Ä–∞–±–æ—Ç–∞–ª —ç—Ç–æ—Ç –º–æ–º–µ–Ω—Ç.
</div>

### –ü–æ–¥—Å—á–µ—Ç —Å—Ä–µ–¥–Ω–µ–≥–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫

–°–¥–µ–ª–∞–µ–º SQL –∑–∞–ø—Ä–æ—Å –∏ –ø–æ–¥—Å—á–∏—Ç–∞–µ–º —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫.

In [26]:
query = '''SELECT
             AVG(Sub.cnt_reviews) AS avg_reviews
           FROM
             (SELECT
                username,
                COUNT(review_id) AS cnt_reviews
              FROM
                reviews
              WHERE
                username IN (SELECT
                                 username
                               FROM
                                 ratings
                               GROUP BY
                                 username
                               HAVING
                                 COUNT(rating_id) >50)
              GROUP BY
                username) AS Sub
            
        '''

In [27]:
avg_count_reviews = pd.io.sql.read_sql(query, con = engine)
avg_count_reviews

   avg_reviews
0    24.333333

–°—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –ø–æ—Å—Ç–∞–≤–∏–≤—à–∏—Ö –±–æ–ª–µ–µ 50 –æ—Ü–µ–Ω–æ–∫ - 24.33. –≠—Ç–æ –≥–æ–≤–æ—Ä–∏—Ç –æ —Ç–æ–º, —á—Ç–æ –∞–∫—Ç–∏–≤–Ω—ã–µ —á–∏—Ç–∞—Ç–µ–ª–∏ –æ—Å—Ç–∞–≤–ª—è—é—Ç –æ—Ç–∑—ã–≤—ã –Ω–µ –Ω–∞ –≤—Å–µ –ø—Ä–æ—á–∏—Ç–∞–Ω–Ω—ã–µ –∫–Ω–∏–≥–∏. –û—Ç–∑—ã–≤–æ–≤ –∫–∞–∫ –º–∏–Ω–∏–º—É –≤ –ø–æ–ª–æ–≤–∏–Ω—É –º–µ–Ω—å—à–µ, —á–µ–º –æ—Ü–µ–Ω–æ–∫.

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.1</b> 
    
üëç <b>–ó–∞–ø—Ä–æ—Å 5:</b> –ê –∑–¥–µ—Å—å –≤—Å–µ –≤–µ—Ä–Ω–æ!
</div>

## –í—ã–≤–æ–¥—ã

–ü–æ—Å–ª–µ –ø—Ä–æ–≤–µ–¥–µ–Ω–∏—è –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è —Ç–∞–±–ª–∏—Ü —Å –ø–æ–º–æ—â—å—é SQL-–∑–∞–ø—Ä–æ—Å–æ–≤ –≤—ã—è—Å–Ω–∏–ª–∏ —Å–ª–µ–¥—É—é—â–µ–µ:

1. –ò–∑ 1000 –∫–Ω–∏–≥, 819 - —ç—Ç–æ –∫–Ω–∏–≥–∏, –≤—ã–ø—É—â–µ–Ω–Ω—ã–µ –ø–æ—Å–ª–µ 01 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞. –¢.–µ. –ø—Ä–µ–∏–º—É—â–µ—Å—Ç–≤–µ–Ω–Ω–æ –∫–Ω–∏–≥–∏ —Å–æ–≤—Ä–µ–º–µ–Ω–Ω–æ–≥–æ –∞–≤—Ç–æ—Ä—Å—Ç–≤–∞ –ø—Ä–µ–≤–∞–ª–∏—Ä—É—é—Ç. –ú–æ–∂–Ω–æ –¥–∞–Ω–Ω—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –≤—ã–¥–µ–ª–∏—Ç—å –Ω–∞ –≤—Ö–æ–¥–Ω–æ–π —Å—Ç—Ä–∞–Ω–∏—Ü–µ–¥–ª—è –ø—Ä–∏–≤–ª–µ—á–µ–Ω–∏—è –∞—É–¥–∏—Ç–æ—Ä–∏–∏ –ø–æ —Ç—ç–≥–∞–º.
2. –£ –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –µ—Å—Ç—å –∫–∞–∫ –º–∏–Ω–∏–º—É–º –Ω–µ—Å–∫–æ–ª—å–∫–æ –æ—Ç–∑—ã–≤–æ–≤ –∏ —Å—Ä–µ–¥–Ω—è—è –æ—Ü–µ–Ω–∫–∞, —á—Ç–æ –ø–æ–∑–≤–æ–ª—è–µ—Ç –≤ –¥–∞–Ω–Ω–æ–º —Å–ø–∏—Å–∫–µ –≤—ã–¥–µ–ª–∏—Ç—å –Ω–∞–∏–±–æ–ª–µ–µ –∏–Ω—Ç–µ—Ä–µ—Å–Ω—ã–µ –∏ –ø–æ–Ω—Ä–∞–≤–∏–≤—à–∏–µ—Å—è –∫–Ω–∏–≥–∏ –¥–ª—è –Ω–æ–≤—ã—Ö —á–∏—Ç–∞—Ç–µ–ª–µ–π, —Å–¥–µ–ª–∞—Ç—å –æ—Ç–±–æ—Ä –∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏.
3. –ò–∑–¥–∞—Ç–µ–ª—å Penguin Books –≤—ã–ø—É—Å—Ç–∏–ª –Ω–∞–∏–±–æ–ª—å—à–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥ - 42 —à—Ç—É–∫–∏. –ï–≥–æ –∞–∫—Ç–∏–≤–Ω–æ—Å—Ç—å –≥–æ–≤–æ—Ä–∏—Ç –æ —Ç–æ–º, —á—Ç–æ —Å—Ç–æ–∏—Ç –∏–∑—É—á–∏—Ç—å –∞—Å—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç –≤—ã–ø—É—Å–∫–∞–µ–º—ã—Ö –∫–Ω–∏–≥, –≤–æ–∑–º–æ–∂–Ω–æ, —á—Ç–æ –≤—ã–ø—É—Å–∫–∞–µ–º—ã–µ –∏–º –∫–Ω–∏–≥–∏ –ø–æ–ª—å–∑—É—é—Ç—Å—è –ø–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç—å—é –∏ –∏—Ö –º–æ–∂–Ω–æ –≤—ã–¥–µ–ª–∏—Ç—å, –∫–∞–∫ –æ—Ç–¥–µ–ª—å–Ω—ã–π –∫–æ–Ω—Ç–µ–Ω—Ç —Å —Å—Å—ã–ª–∫–æ–π –Ω–∞ –¥–∞–Ω–Ω–æ–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ –Ω–∞ –≤—Ö–æ–¥–Ω–æ–π —Å—Ç—Ä–∞–Ω–∏—Ü–µ.
4. –ê–≤—Ç–æ—Ä —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏ —è–≤–ª—è–µ—Ç—Å—è J.K. Rowling/Mary GrandPr√©. –û—Ü–µ–Ω–∫–∞ —Å–æ—Å—Ç–∞–≤–ª–µ–Ω–∞ –Ω–∞ —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–µ 4 –∫–Ω–∏–≥ —ç—Ç–æ–≥–æ –∞–≤—Ç–æ—Ä–∞, –≤–æ–∑–º–æ–∂–Ω–æ —ç—Ç–æ –ì–∞—Ä—Ä–∏ –ü–æ—Ç—Ç–µ—Ä. –°—Ç–æ–∏—Ç —ç—Ç–æ –æ—Ç–º–µ—Ç–∏—Ç—å –Ω–∞ –≤—Ö–æ–¥–Ω–æ–π —Å—Ç—Ä–∞–Ω–∏—Ü–µ –∫–∞–∫ —Ç–æ–ø –∞–≤—Ç–æ—Ä –∏ –µ–≥–æ –∫–Ω–∏–≥–∏ –≤—ã–¥–µ–ª–∏—Ç—å –≤ –æ—Ç–¥–µ–ª—å–Ω—ã–π –∫–æ–Ω—Ç–µ–Ω—Ç —Å —Å—Å—ã–ª–∫–æ–π –Ω–∞ –≤—Ö–æ–¥–Ω–æ–π —Å—Ç—Ä–∞–Ω–∏—Ü–µ.
5. –°—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –ø–æ—Å—Ç–∞–≤–∏–≤—à–∏—Ö –±–æ–ª–µ–µ 50 –æ—Ü–µ–Ω–æ–∫ - 24.33. –≠—Ç–æ –≥–æ–≤–æ—Ä–∏—Ç –æ —Ç–æ–º, —á—Ç–æ –∞–∫—Ç–∏–≤–Ω—ã–µ —á–∏—Ç–∞—Ç–µ–ª–∏ –æ—Å—Ç–∞–≤–ª—è—é—Ç –æ—Ç–∑—ã–≤—ã –Ω–µ –Ω–∞ –≤—Å–µ –ø—Ä–æ—á–∏—Ç–∞–Ω–Ω—ã–µ –∫–Ω–∏–≥–∏. –û—Ç–∑—ã–≤–æ–≤ –∫–∞–∫ –º–∏–Ω–∏–º—É –≤ –ø–æ–ª–æ–≤–∏–Ω—É –º–µ–Ω—å—à–µ, —á–µ–º –æ—Ü–µ–Ω–æ–∫. –í–æ–∑–º–æ–∂–Ω–æ, —á—Ç–æ —Å–ª–µ–¥—É–µ—Ç –¥–æ–±–∞–≤–∏—Ç—å –ø–æ—è—Å–Ω–µ–Ω–∏–µ –¥–ª—è —á–∏—Ç–∞—Ç–µ–ª–µ–π –ø—Ä–∏ –æ—Ü–µ–Ω–∫–µ, —á—Ç–æ –µ–≥–æ –æ—Ç–∑—ã–≤ –ø–æ–º–æ–∂–µ—Ç –¥—Ä—É–≥–∏–º —á–∏—Ç–∞—Ç–µ–ª—è–º –≤ –≤—ã–±–æ—Ä–µ –∫–Ω–∏–≥–∏, —ç—Ç–æ –ø–æ–≤—ã—Å–∏—Ç —á–∞—Å—Ç–æ—Ç—É –Ω–∞–ø–∏—Å–∞–Ω–∏—è –æ—Ç–∑—ã–≤–æ–≤.

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.1</b> 
    
üëç –û—Ç–ª–∏—á–Ω–æ, —á—Ç–æ –≤ –ø—Ä–æ–µ–∫—Ç–µ –µ—Å—Ç—å –Ω–µ–±–æ–ª—å—à–æ–µ —Ä–µ–∑—é–º–µ –ø–æ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞–º –∑–∞–ø—Ä–æ—Å–æ–≤! –ù–µ –∑–∞–±—É–¥—å, –ø–æ–∂–∞–ª—É–π—Å—Ç–∞, –ø—Ä–æ–≤–µ—Ä–∏—Ç—å –µ–≥–æ –ø–æ—Å–ª–µ —Ä–∞–±–æ—Ç—ã —Å –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏—è–º–∏.

</div>

<div class="alert alert-info"> 
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞</b> 
    
–ü–æ–¥–∫–æ—Ä—Ä–µ–∫—Ç–∏—Ä–æ–≤–∞–ª=)
</div>

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.2</b> 
    
üëç –°–ø–∞—Å–∏–±–æ!
</div>